* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}


.container {
	width:70%;
margin: auto;
border: black 1px solid;
border-top :#EF5F3C 15px solid;
	overflow: hidden;
	padding-left: 20px;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;



}

#header1{
color: #fff;
background-color: #424242;
		text-align: center;
		width:70%;
		height:40px;
	margin: auto;
border: #424242 10x solid;
border top:double;
text-align: center;
padding-top: 5px;
		overflow: hidden;
		font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;

}

#footer1{
	color: #fff;
	background-color: #fff;
			text-align: center;
				color: #1CBC2C;
				border: #fff  10px solid width 70%;
				overflow: hidden;
				font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
margin: auto;
